<div id='application' class={{sanctuary.section}}>
  {{background-video class="main-video" 
                    path="/videos/swirl"
                    onLoadAction="mainVideoDidLoad"}}

  {{nav-bar}}
  {{!loader-panel}}

  <section>
    <div class='video-overlay'></div>

    <div class='heading'>
      <h2 class="copy">{{liquid-bind sanctuary.prefix}} <span>Sanctuary Computer, Inc.</span></h2>
    </div>
    
    {{liquid-outlet}}
  </section>
</div>
