{{background-video class="main-video" 
                   path="/videos/swirl"
                   onLoadAction="mainVideoDidLoad"}}

{{nav-bar}}
{{loader-panel}}

<section>
  <div class='video-overlay'></div>

  <div class='heading'>
    <h2 class="copy">{{sanctuary.prefix}}Sanctuary Computer, Inc.</h2>
  </div>
  
  {{outlet}}
</section>
