<div class='top-route' id='products'>
  <div class='flex-container'>
    {{content-card}}
    {{content-card}}
    {{content-card}}
    {{content-card}}
    {{content-card}}
    {{content-card}}
  </div>
</div>
